/target/
/build/
*.DS_Store
*nbactions.xml
/SMSC_Simulator/smscSimulator/target/
/docs/examples/nbproject/private/
/docs/examples/HighCharts/nbproject/private/

# New .gitnore for all SMP projects. Reconsider the part above this line and remove (umer)
*.class

# Package Files #
*.jar
*.war
*.ear
.*
!.gitignore
*~
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
